body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    padding: 0 auto;
}

.nav-container {
    height: 100px;
    
}

header {
    display: flex;
    justify-content: space-between;
    background: blueviolet;
    height: 100px;
    align-items: center;

    .logo {
        width: 170px;
        height: 100px;
        padding-top: 5px;
    }



    ul {
        display: flex;

        a {
            display: block;
            padding: 0 1em;
            text-decoration: none;
            color: white;
        }
    }
  
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-size: 15px;
}
ul.show {
    display: block;
}

li {
    /* width: 200px; */
    text-decoration: none;
}

.social-header {
    color: white;
    margin-right: 170px;
    
}

.div-section {
    height: 100vh;
    width: 100vw;

    
}

.hero-video {
    width: 1350px;
    position: relative;
    
}

.play-button {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    right: 55%;
    left: 45%;
    bottom: 50%;
}